<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- Add location modal -->
<div th:fragment="costModal" class="modal fade" id="addCost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" method="post" target="/transport/job/addCost">
                <input type="hidden" name="transportId" th:value="${transport.id}" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Cost</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label">Amount</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="number" name="amount" class="form-control"/>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Currency</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" name="currency" value="HUF" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label">Description</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" name="costDescription" class="form-control"/>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Date</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="date" name="date" class="form-control"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>