<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main -->
<section id="main">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Transport list</h3>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-sm">New</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover" style="font-size: 12px;">
                    <tr>
                        <th>#</th>
                        <th>TRACTOR</th>
                        <th>TRAILER</th>
                        <th>EMPLOYEE</th>
                        <th>START</th>
                        <th>FINISH</th>
                        <th>CARGO</th>
                        <th>CARGO COUNT</th>
                        <th>CARGO WEIGHT</th>
                        <th>TIME OF LOAD</th>
                        <th>PLACE OF LOAD</th>
                        <th>TIME OF UNLOAD</th>
                        <th>PLACE OF UNLOAD</th>
                        <th>COSTS</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle" th:each="job : ${transports}">
                        <td th:text="${job.id}"></td>
                        <td th:text="${job.tractor}"></td>
                        <td th:text="${job.trailer}"></td>
                        <td th:text="${job.employee}"></td>
                        <td th:text="${job.start}"></td>
                        <td th:text="${job.finish}"></td>
                        <td th:text="${job.cargo_name}"></td>
                        <td th:text="${job.cargo_count}"></td>
                        <td th:text="${job.cargo_weight}"></td>
                        <td th:text="${job.time_of_load}"></td>
                        <td th:text="${job.place_of_load}"></td>
                        <td th:text="${job.time_of_unload}"></td>
                        <td th:text="${job.place_of_unload}"></td>
                        <td><a th:href="|/transport/job?id=${job.id}|" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eur"></span></a></td>
                        <td>
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>-->
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a th:href="|/transport/edit?id=${job.id}|"><i class="fa fa-pencil"></i> Edit</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<div th:replace="footer :: footer"></div>

<!-- Scripts -->
<script src="/js/transport.js"></script>
</body>
</html>