<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main -->
<section id="main">
    <div class="container-fluid">
        <h1>New Transport</h1>
        <form class="inline-form" method="post" action="/transport/job/add">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" id="tractorGroup">
                        <label class="control-label col-sm-2" for="tractorInput">Tractor</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="hiddenTractorId" th:value="${transport} ? ${transport.tractor.id} : ''"/>
                            <select id="tractorInput" name="tractor" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="trailerGroup">
                        <label class="control-label col-sm-2" for="trailerInput">Trailer</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="hiddenTrailerId" th:value="${transport} ? ${transport.trailer.id} : ''"/>
                            <select id="trailerInput" name="trailer" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" id="employeeGroup">
                        <label class="control-label col-sm-2" for="employeeInput">Employee</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="hiddenEmployeeId" th:value="${transport} ? ${transport.employee.id} : ''"/>
                            <select id="employeeInput" name="employee" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="cargoNameGroup">
                        <label class="control-label col-sm-2" for="cargoNameInput">Cargo Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="cargoNameInput" name="cargo_name" class="form-control col-sm-8" th:value="${transport} ? ${transport.cargo_name} : ''"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" id="cargoCountGroup">
                        <label class="control-label col-sm-2" for="cargoCountInput">Cargo Count</label>
                        <div class="col-sm-8">
                            <input type="text" id="cargoCountInput" name="cargo_count" class="form-control col-sm-8" th:value="${transport} ? ${transport.cargo_count} : ''"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="cargoWeightGroup">
                        <label class="control-label col-sm-2" for="cargoWeightInput">Cargo Weight</label>
                        <div class="col-sm-8">
                            <input type="text" id="cargoWeightInput" name="cargo_weight" class="form-control col-sm-8" th:value="${transport} ? ${transport.cargo_weight} : ''"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" id="placeOfLoadGroup">
                        <label class="control-label col-sm-2" for="placeOfLoadInput">Place of Load</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="hiddenPlaceOfLoad" th:value="${transport} ? ${transport.place_of_load.id} : ''"/>
                            <select id="placeOfLoadInput" name="place_of_load" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="timeOfLoadGroup">
                        <label class="control-label col-sm-2" for="timeOfLoadInput">Time of Load</label>
                        <div class="col-sm-8">
                            <input type="datetime-local" id="timeOfLoadInput" name="time_of_load" class="form-control col-sm-8" th:value="${transport} ? ${transport.time_of_load} : ''"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" id="placeOfUnloadGroup">
                        <label class="control-label col-sm-2" for="placeOfUnloadInput">Place of Unload</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="hiddenPlaceOfUnload" th:value="${transport} ? ${transport.place_of_unload.id} : ''"/>
                            <select id="placeOfUnloadInput" name="place_of_unload" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="timeOfUnloadGroup">
                        <label class="control-label col-sm-2" for="timeOfUnloadInput">Time of Unload</label>
                        <div class="col-sm-8">
                            <input type="datetime-local" id="timeOfUnloadInput" name="time_of_unload" class="form-control col-sm-8" th:value="${transport} ? ${transport.time_of_unload} : ''"/>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
</section>

<!-- footer -->
<div th:replace="footer :: footer"></div>
<!-- Scripts -->
<script src="/js/transport.js"></script>
</body>
</html>