<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main container -->
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <h3 class="panel-title col-md-5">Employee payment list</h3>
                <form class="inline-form" method="get" action="/employee/payouts">
                    <div class="col-md-1">
                        <label class="control-label">Year</label>
                    </div>
                    <div class="col-md-1">
                        <input th:value="${year} ? ${year} : ''" type="text" name="year" class="form-control"/>
                    </div>

                    <div class="col-md-1">
                        <label class="control-label">Month</label>
                    </div>
                    <div class="col-md-1">
                        <input th:value="${month} ? ${month} : ''" type="text" name="month" class="form-control"/>
                    </div>

                    <div class="col-md-1">
                        <label class="control-label">Currency</label>
                    </div>
                    <div class="col-md-1">
                        <input th:value="${currency} ? ${currency} : 'EUR'" type="text" name="currency" class="form-control"/>
                    </div>

                    <div class="col-md-1">
                        <input type="submit" value="List" class="form-control"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <div th:unless="${payoutList == null}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>NAME</th>
                        <th>WORK DAYS</th>
                        <th>PAYMENT</th>
                    </tr>
                    </thead>
                    <tr th:each="pair : ${payoutList}">
                        <td th:text="${pair.first}"></td>
                        <td th:text="${pair.second.WorkDays}"></td>
                        <td th:text="${pair.second.Amount + ' ' + pair.second.CurrencySymbol}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="footer :: footer"></div>

</body>
</html>