<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main container -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Employee</h3>
        </div>
        <div class="panel-body">
            <form name="newEmployeeForm" action="#" th:action="@{/employee/add}" method="post">
                <input id="hiddenId" name="id" type="hidden" th:value="${employee} ? ${employee.id} : ''" />
                <input id="hiddenPlaceOfBirth" name="id" type="hidden" th:value="${employee?.placeOfBirth} ? ${employee.placeOfBirth.id} : ''" />
                <input id="hiddenPlaceOfLiving" name="id" type="hidden" th:value="${employee?.placeOfLiving} ? ${employee.placeOfLiving.id} : ''" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="firstNameGroup">
                                <label class="control-label col-sm-2">First Name</label>
                                <div class="col-sm-8">
                                    <input id="firstNameInput" type="text" name="firstName" class="form-control" th:value="${employee} ? ${employee.firstName} : ''"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="lastNameGroup">
                                <label class="control-label col-sm-2">Last Name</label>
                                <div class="col-sm-8">
                                    <input id="lastNameInput" type="text" name="lastName" class="form-control" th:value="${employee} ? ${employee.lastName} : ''"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="dateOfBirthGroup">
                                <label class="control-label col-sm-2">Date of Birth</label>
                                <div class="col-sm-8">
                                    <input id="dateOfBirthInput" type="date" name="dateOfBirth" class="form-control" th:value="${employee} ? ${employee.dateOfBirth} : ''"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="placeOfBirthGroup">
                                <label class="control-label col-sm-2">Place of Birth</label>
                                <div class="col-sm-8">
                                <select id="placeOfBirthInput" name="placeOfBirth" class="form-control">
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="socialInsuranceNoGroup">
                                <label class="control-label col-sm-2">Social Insurance Number</label>
                                <div class="col-sm-8">
                                <input id="socualInsuranceNoInput" name="socialInsuranceNo" type="text" class="form-control" th:value="${employee} ? ${employee.socialInsuranceNo} : ''"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="taxNoGroup">
                                <label class="control-label col-sm-2">Tax No</label>
                                <div class="col-sm-8">
                                <input id="taxNoInput" type="text" name="taxNo" class="form-control"  th:value="${employee} ? ${employee.taxNo} : ''"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="mothersNameGroup">
                                <label class="control-label col-sm-2">Mothers Name</label>
                                <div class="col-sm-8">
                                <input id="mothersNameInput" type="text" name="mothersName" class="form-control"  th:value="${employee} ? ${employee.mothersName} : ''"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="driversCardNoGroup">
                                <label class="control-label col-sm-2">Drivers Card No</label>
                                <div class="col-sm-8">
                                <input id="driversCardNoInput" type="text" name="driversCardNo" class="form-control" th:value="${employee} ? ${employee.driversCardNo} : ''"/>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="placeOfLivingGroup">
                            <label class="control-label col-sm-2">Place of Living</label>
                            <div class="col-sm-8">
                            <select id="placeOfLivingInput" name="placeOfLiving" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="employmentDateGroup">
                            <label class="control-label col-sm-2">Employment Date</label>
                            <div class="col-sm-8">
                            <input id="employmentDateInput" type="date" name="employmentDate" class="form-control" th:value="${employee} ? ${employee.employmentDate} : ''"/>
                            </div>
                        </div>
                    </div>
                </div>
                    <input type="submit" class="btn btn-success" value="Save" />
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>
<script src="/js/employee.js"></script>
</body>
</html>