<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>
<div class="container-fluid">
    <!-- Breadcrumb -->
    <section id="breadcrumb">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="active">Logged in as: <i th:text="${username}"></i></li>
            </ol>
        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Quick View</a>
                        <a href="/locations/list" class="list-group-item ">Locations <span class="badge" id="locBadge">33</span></a>
                        <a href="/employee/list" class="list-group-item ">Employees <span class="badge" id="empBadge">2</span></a>
                        <a href="/tractors/list" class="list-group-item ">Tractors <span class="badge" id="tractorBadge">55</span></a>
                        <a href="/trailers/list" class="list-group-item ">Trailers <span class="badge" id="trailerBadge">1</span></a>
                        <a href="/transport/jobs/list" class="list-group-item ">Transport Jobs <span class="badge" id="jobBadge">1</span></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Fleet status</h3>
                        </div>
                        <div class="panel-body">
                            <div id="myPieChart"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>

<!-- Scripts -->
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
</script>
<script src="/js/index.js"></script>
</body>
</html>