<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main container -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Vehicle list</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>#</th>
                    <th>TRACTOR</th>
                    <th>TRAILER</th>
                    <th>Options</th>
                </tr>
                <tr th:each="vehicle : ${vehicleList}">
                    <td th:text="${vehicle.vehicleId}">id</td>
                    <td><a th:href="@{/tractor(id=${vehicle.tractor.id})}" th:text="${vehicle.tractor}"></a></td>
                    <td><a th:href="@{/trailer(id=${vehicle.trailer.id})}" th:text="${vehicle.trailer}"></a></td>
                    <td>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>

</body>
</html>