<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main container -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tractor</h3>
        </div>
        <div class="panel-body">
            <form class="form-group">
                <label>Manufacturer</label>
                <input class="form-control" type="text" th:value="${tractor.manufacturer}"/>
                <label>Type</label>
                <input class="form-control" type="text" th:value="${tractor.type}"/>
                <label>Date of manufacture</label>
                <input class="form-control" type="date" th:value="${tractor.date_of_manufacture}"/>
                <label>Date of acquire</label>
                <input class="form-control" type="date" th:value="${tractor.date_of_acquire}"/>
                <label>Date of supervision</label>
                <input class="form-control" type="date" th:value="${tractor.date_of_supervision}"/>
                <label>Plate number</label>
                <input class="form-control" type="text" th:value="${tractor.plate_number}"/>
                <label>Chassis number</label>
                <input class="form-control" type="text" th:value="${tractor.chassis_number}"/>
                <label>Fuel Normative</label>
                <input class="form-control" type="text" th:value="${tractor.fuel_norm}"/>
                <label>Weight</label>
                <input class="form-control" type="text" th:value="${tractor.weight}"/>
                <label>Max Weight</label>
                <input class="form-control" type="text" th:value="${tractor.max_weight}"/>
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>


<!-- Scripts -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
</body>
</html>