<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main container -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Location list</h3>
            <div class="btn-group pull-right">
                <a href="/locations/new" class="btn btn-default btn-sm">New</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>#</th>
                    <th>COUNTRY</th>
                    <th>REGION</th>
                    <th>CITY</th>
                    <th>STREET</th>
                    <th>HOUSE NUMBER</th>
                    <th>ZIPCODE</th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:each="location : ${locationList}">
                    <td th:text="${location.id}">Onions</td>
                    <td th:text="${location.country}">2.41</td>
                    <td th:text="${location.region}">yes</td>
                    <td th:text="${location.city}"></td>
                    <td th:text="${location.street}"></td>
                    <td th:text="${location.houseNo}"></td>
                    <td th:text="${location.zipcode}"></td>
                    <td>
                        <div class="dropdown">
                            <a data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>-->
                            <ul class="dropdown-menu">
                                <li><a th:href="|/location/delete?id=${location.id}|"><i class="fa fa-trash"></i> Delete</a></li>
                                <li><a th:href="|/location/edit?id=${location.id}|"><i class="fa fa-pencil"></i> Edit</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="footer :: footer"></div>
</body>
</html>