<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <!-- Header Section -->
    <title>OpenFleet</title>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

<!-- Top navigation bar -->
<div th:replace="navbar :: navbar-top"></div>

<!-- Header -->
<div th:replace="header :: header-top"></div>

<!-- Main container -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Location</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" th:action="@{/location/add}" onsubmit="return validate()">
                <input name="id" type="hidden" th:value="${location} ? ${location.id} : ''" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="countryGroup">
                            <label class="control-label col-sm-2" for="countryInput">Country</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control col-sm-8" id="countryInput" name="country" th:value="${location} ? ${location.country} : ''"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="regionGroup">
                                <label class="control-label col-sm-2" for="regionInput">Region</label>
                            <div class="col-sm-8">
                                <input type="text" id="regionInput" name="region" class="form-control col-sm-8" th:value="${location} ? ${location.region} : ''"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="cityGroup">
                                <label class="control-label col-sm-2" for="cityInput">City</label>
                            <div class="col-sm-8">
                                <input type="text" id="cityInput" name="city" class="form-control" th:value="${location} ? ${location.city} : ''"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="streetGroup">
                                <label class="control-label col-sm-2" for="streetInput">Street</label>
                            <div class="col-sm-8">
                                <input type="text" id="streetInput" name="street" class="form-control" th:value="${location} ? ${location.street} : ''"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="houseNoGroup">
                                <label class="control-label col-sm-2" for="houseNoInput">House Number</label>
                            <div class="col-sm-8">
                                <input type="text" id="houseNoInput" name="houseNo" class="form-control" th:value="${location} ? ${location.houseNo} : ''"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="zipcodeGroup">
                                <label class="control-label col-sm-2" for="zipcodeInput">Zipcode</label>
                            <div class="col-sm-8">
                                <input type="text" id="zipcodeInput" name="zipcode" class="form-control" th:value="${location} ? ${location.zipcode} : ''"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Save" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>
<script src="/js/validators.js"></script>
</body>
</html>